* {
    font-size: 12px;
}

#play-mat {
    width: 100%;
}

.player-mat {
    border: 0.5em;
    margin: 3em;
    padding: 1em;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-container {
    width: 100%;
}

.mana-container {
    width: 100%;
}

.life-contianer {
    width: 100%;
}

#player-one-mat {
    background-color: blue;
}

#player-two-mat {
    background-color: red;
}

.name {
    justify-content: center;
    align-items: center;
    margin: 10px;
}