<div id="play-mat">
    <div id="player-one-mat">
        <mat-grid-list cols="2" rows="3">
            <mat-grid-tile class="player-one name">
                <h2>{{ this.players[0].name }}</h2>
                <h3>(Player One)</h3>
                <h3>{{ this.decks[0].name }}</h3>
            </mat-grid-tile>
            <mat-grid-tile class="player-one mana" [rowspan]=3>
                <h2>Mana Pool</h2>
                <button mat-icon-button>
                    <mat-icon>expand_more</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile class="player-one status">
                <button mat-icon-button>
                    <mat-icon>exposure_minus_1</mat-icon>
                </button>
                <h2 class="life">{{ this.lifes[0] }}</h2>
                <button mat-icon-button>
                    <mat-icon>exposure_plus_1</mat-icon>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div id="player-two-mat">
        <mat-grid-list cols="2" rows="3">
            <mat-grid-tile class="player-two status">
                <button mat-icon-button>
                    <mat-icon>exposure_minus_1</mat-icon>
                </button>
                <h2 class="life">Life: 20</h2>
                <button mat-icon-button>
                    <mat-icon>exposure_plus_1</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile class="player-two mana" [rowspan]=3>
                <h2>Mana Pool</h2>
                <button mat-icon-button>
                    <mat-icon>expand_more</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile class="player-two name">
                <h2>{{ this.players[1].name }}</h2>
                <h3>(Player Two)</h3>
                <h3>{{ this.decks[1].name }}</h3>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>