* {
    font-size: 12px;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

#play-mat {
    width: 100%;
    height: 90vh;
}

.player-mat {
    height: 50%;
    margin: 0em;
    padding: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mana-container-header {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.mana-top-level-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.life-container {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.life-container > * {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0px;
}

#player-one-mat {
    background-color: blue;
    border-style: solid;
    border-color: black;
}

#player-two-mat {
    background-color: red;
    border-style: solid;
    border-color: black;
}

.name-header {
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.mana-header {
    padding: 1.5em;
}

.mana-add-button, .new-turn-button {
    background-color: black;
    color: white;
}

.mat-icon-button {
    width: 2.5em;
    height: 2.5em;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
    line-height: 12px;
}

.add-mana-button {
    width: 100px;
    background-color: black;
    color: white;
}

::ng-deep .mana-button {
    width: 30px;
    height: 30px;
}

::ng-deep .red-mana {
    background: url('/assets/images/red-symbol.png') no-repeat center;
    background-size: contain;
}

::ng-deep .black-mana {
    background: url('/assets/images/black-symbol.png') no-repeat center;
    background-size: contain;
}

::ng-deep .white-mana {
    background: url('/assets/images/white-symbol.png') no-repeat center;
    background-size: contain;
}

::ng-deep .green-mana {
    background: url('/assets/images/green-symbol.png') no-repeat center;
    background-size: contain;
}

::ng-deep .blue-mana {
    background: url('/assets/images/blue-symbol.png') no-repeat center;
    background-size: contain;
}

::ng-deep .used-mana {
    filter: grayscale(100%);
}