* {
    font-size: 12px;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

#play-mat {
    width: 100%;
    height: 90vh;
}

.player-mat {
    height: 50%;
    margin: 0em;
    padding: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mana-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mana-container > * {
    margin: 0px;
}

.life-container {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.life-container > * {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0px;
}

#player-one-mat {
    background-color: blue;
    border-style: solid;
    border-color: black;
}

#player-two-mat {
    background-color: red;
    border-style: solid;
    border-color: black;
}

.name-header {
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.mana-header {
    padding: 1.5em;
}

.mana-add-button {
    background-color: black;
    color: white;
}

.mat-icon-button {
    width: 2.5em;
    height: 2.5em;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
    line-height: 12px;
}