<div id="card-highlight-container">
    <h2>Card Spotlight</h2>
    <mat-grid-list id="card-highlight" cols="4" rows="3">
        <mat-grid-tile>
            <div *ngIf="this.currentCard.power && this.currentCard.toughness">
                <p id="life-toughness-indicator"> {{this.currentCard.power}} / 
                    {{this.currentCard.toughness}} 
                </p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img id="card-image" alt="Magic Card with name {{this.currentCard.name}}" src="{{this.currentCard.image_uris.normal}}"/>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <h3 id="card-name">{{this.currentCard.name}}</h3>
                <h3 id="card-typing">{{this.currentCard.typeLine}}</h3>
                <p id="card-oracle-text">{{this.currentCard.oracle_text}}</p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <h3 id="card-artist-name">Illustration by {{this.currentCard.artist}}</h3>
                <h3 id="card-mana-cost">{{this.currentCard.mana_cost}}</h3>
                <p id="card-flavor-text">{{this.currentCard.flavor_text}}</p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
