* {
    box-sizing: border-box;
}

#card-highlight-container {
    height: auto;
    width: 100vw; 
    padding: 1em;
    padding-right: 0px;
}

#card-image-holder {
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: max-content;
}

#card-image {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    border-radius: 4%;
}