<div id="player-form-container">
    <div class="player-setup-form" id="player-one-container">
        <form class="player-form" [formGroup]="playerOneForm">
            <h2>Player One</h2>
            <mat-divider></mat-divider>

            <div class="player-name-container">
                <h3>Select Player <em>- OR -</em> Create New Player</h3>
                <mat-form-field>
                    <mat-label>
                        Player Name
                    </mat-label>
                    <input type="text" 
                        matInput 
                        formControlName="playerNameControl" 
                        [matAutocomplete]="autoPlayerName" 
                        required>  
                    <mat-autocomplete #autoPlayerName="matAutocomplete" 
                        [displayWith]="displayPlayerFunction">
                        <mat-option *ngFor="let player of players" 
                            [value]="player.name">
                            {{player.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="deck-name-container">
                <h3>Select Deck <em>- OR -</em> Create New Deck</h3>
                <mat-form-field>
                    <mat-label>Deck</mat-label>
                    <input type="text" 
                        matInput 
                        formControlName="deckNameControl"
                        [matAutocomplete]="autoDeckName" 
                        (change)="checkDeck($event.target.value, 0)"
                        required>
                    <mat-autocomplete #autoDeckName="matAutocomplete" 
                        [displayWith]="displayDeckFunction">
                        <mat-option *ngFor="let deck of decks" 
                            [value]="deck.name">
                            {{deck.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div *ngIf="addDeckOne" class="add-deck-info">
                <div class="color-selection-container">
                    <h3>Select colors for deck</h3>
                    <mat-checkbox [checked]="addDeckOneRed" (change)="addDeckOneRed = !addDeckOneRed" formControlName="redControl">Red</mat-checkbox>
                    <mat-checkbox [checked]="addDeckOneBlue" (change)="addDeckOneBlue = !addDeckOneBlue" formControlName="blueControl">Blue</mat-checkbox>
                    <mat-checkbox [checked]="addDeckOneGreen" (change)="addDeckOneGreen = !addDeckOneGreen" formControlName="greenControl">Green</mat-checkbox>
                    <mat-checkbox [checked]="addDeckOneBlack" (change)="addDeckOneBlack = !addDeckOneBlack" formControlName="blackControl">Black</mat-checkbox>
                    <mat-checkbox [checked]="addDeckOneWhite" (change)="addDeckOneWhite = !addDeckOneWhite" formControlName="whiteControl">White</mat-checkbox>
                </div>

                <div class="deck-description-container">
                    <h3>Provide a description for the deck</h3>
                    <mat-form-field>
                        <mat-label>Deck Description</mat-label>
                        <textarea
                            matInput
                            placeholder="Just a boring old deck!"
                            formControlName="deckDescriptionControl"
                            >
                        
                        </textarea>
                    </mat-form-field>
                </div>
            </div>

        </form>
    </div>

    <mat-divider></mat-divider>
    <div class="submission-area">
        <div *ngIf="playerOneForm.controls.playerNameControl.value.length > 0 
                && playerOneForm.controls.deckNameControl.value.length > 0" class="game-submission-info">
            <p>Player One will be known as {{playerOneForm.controls.playerNameControl.value}} 
                and they will use the {{playerOneForm.controls.deckNameControl.value}} deck.</p>
            <div *ngIf="addDeckOne" class="deck-add-info">
                <p>A new deck will be added with the name {{playerOneForm.controls.deckNameControl.value}}.</p>
            </div>
        </div>
        <button mat-raised-button [disabled]="!playerOneForm.valid || !playerTwoForm.valid" (click)="onSubmit()" color="primary">Play!</button>
        <div *ngIf="playerTwoForm.controls.playerNameControl.value.length > 0 
            && playerTwoForm.controls.deckNameControl.value.length > 0" class="game-submission-info">
        <p>Player Two will be known as {{playerTwoForm.controls.playerNameControl.value}} 
            and they will use the {{playerTwoForm.controls.deckNameControl.value}} deck.</p>
        <div *ngIf="addDeckTwo" class="deck-add-info">
            <p>A new deck will be added with the name {{playerTwoForm.controls.deckNameControl.value}}.</p>
        </div>
    </div>
    </div>
    <mat-divider></mat-divider>


    <div class="player-setup-form" id="player-two-container">
    <form class="player-form" [formGroup]="playerTwoForm">
        <h2>Player Two</h2>
        <mat-divider></mat-divider>

        <h3>Select Player <em>- OR -</em> Create New Player</h3>
        <mat-form-field>
            <mat-label>
                Player Name
            </mat-label>
            <input type="text" 
                matInput 
                formControlName="playerNameControl" 
                [matAutocomplete]="autoPlayerName" 
                required>  
            <mat-autocomplete #autoPlayerName="matAutocomplete" 
                [displayWith]="displayPlayerFunction">
                <mat-option *ngFor="let player of players" 
                    [value]="player.name">
                    {{player.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <h3>Select Deck <em>- OR -</em> Create New Deck</h3>
        <mat-form-field>
            <mat-label>Deck</mat-label>
            <input type="text" 
                matInput 
                formControlName="deckNameControl"
                [matAutocomplete]="autoDeckName" 
                (change)="checkDeck($event.target.value, 1)"
                required>
            <mat-autocomplete #autoDeckName="matAutocomplete" 
                [displayWith]="displayDeckFunction">
                <mat-option *ngFor="let deck of decks" 
                    [value]="deck.name">
                    {{deck.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <div *ngIf="addDeckTwo" class="add-deck-info">
            <div class="color-selection-container">
                <h3>Select colors for deck</h3>
                <mat-checkbox [checked]="addDeckTwoRed" (change)="addDeckTwoRed = !addDeckTwoRed" formControlName="redControl">Red</mat-checkbox>
                <mat-checkbox [checked]="addDeckTwoBlue" (change)="addDeckTwoBlue = !addDeckTwoBlue" formControlName="blueControl">Blue</mat-checkbox>
                <mat-checkbox [checked]="addDeckTwoGreen" (change)="addDeckTwoGreen = !addDeckTwoGreen" formControlName="greenControl">Green</mat-checkbox>
                <mat-checkbox [checked]="addDeckTwoBlack" (change)="addDeckTwoBlack = !addDeckTwoBlack" formControlName="blackControl">Black</mat-checkbox>
                <mat-checkbox [checked]="addDeckTwoWhite" (change)="addDeckTwoWhite = !addDeckTwoWhite" formControlName="whiteControl">White</mat-checkbox>
            </div>

            <div class="deck-description-container">
                <h3>Provide a description for the deck</h3>
                <mat-form-field>
                    <mat-label>Deck Description</mat-label>
                    <textarea
                        matInput
                        placeholder="Just a boring old deck!"
                        formControlName="deckDescriptionControl"
                        >
                    
                    </textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
    </div>
</div>
