<div>
    <div class="player-setup-container" id="player-one-container">
        <h2>Player One</h2>
        <mat-divider></mat-divider>
        <form class="player-one-form" [formGroup]="playerOneForm">
            <div *ngIf="playerOneForm.controls.nameControl.value != '' && playerOneForm.controls.deckControl.value != ''"class="player-one-config">
                <p>
                    Player One will be known as {{playerOneForm.controls.nameControl.value}} and they will use the {{playerOneForm.controls.deckControl.value}} deck. 
                </p>
            </div>
            <h3>Select Player <em>- OR -</em> Create New Player</h3>
            <h4>Please enter the player name you would like to use below. If you are entering a new name, you may enter it below and a new user will be created for it.</h4>
            <mat-form-field>
                <mat-label>
                    Player Name
                </mat-label>
                <input type="text" matInput formControlName="nameControl" [matAutocomplete]="auto"> 
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPlayerFunction">
                    <mat-option *ngFor="let player of players" [value]="player.name">
                        {{player.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <h3>Select Deck <em>- OR -</em> Create New Deck</h3>
            <mat-form-field>
                <mat-label>Deck</mat-label>
                <input type="text" matInput formControlName="deckControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayDeckFunction">
                    <mat-option *ngFor="let deck of decks" [value]="deck.name">
                        {{deck.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-divider></mat-divider>
            <button id="reset-player-one-form" mat-raised-button color="secondary">Reset Form Info</button>
        </form>

        <mat-divider></mat-divider>
        <button id="play-game-button" mat-raised-button color="primary">Play Game!</button>
    </div>  
</div>
