<mat-toolbar id="navigation-container">
    <h1 id="app-header">Magic: The Gathering - Companion App</h1>
    <mat-nav-list id="app-features">
        <mat-list-item>
        <a routerLink="/game-setup" 
                routerLinkActive="active"
                id="play-button" 
                mat-raised-button color="primary">
                Play
        </a>
        </mat-list-item>
    <mat-list-item>
        <a routerLink="/view-stats"
                routerLinkActive="active"
                id="stats-button" 
                mat-raised-button color="primary">
                Stats
        </a>
    </mat-list-item>
    <mat-list-item>
        <a routerLink="/view-users"
                routerLinkActive="active"
                id="users-button" 
                mat-raised-button color="primary">
                Users
        </a>
    </mat-list-item> 
    </mat-nav-list>
</mat-toolbar>


