#app-features {
    list-style-type: none;
    display: flex;
}

#play-button {
    background-color: darkblue;
}

#stats-button {
    background-color: red;
}

#users-button {
    background-color: green;
}