<mat-toolbar id="navigation-container">
    <mat-nav-list id="app-features">
        <mat-list-item>
            <a routerLink="/home"
            routerLinkActive="active"
            id="app-header"
            >
                <h1 id="app-title">
                Magic: The Gathering
                </h1>
                <h2 id="title-decorator">
                Companion App 
                </h2>
            </a>
        </mat-list-item>
        <mat-list-item>
        <a routerLink="/game-setup" 
                routerLinkActive="active"
                id="play-button" 
                mat-raised-button color="primary">
                Play
        </a>
        </mat-list-item>
    <mat-list-item>
        <a routerLink="/view-stats"
                routerLinkActive="active"
                id="stats-button" 
                mat-raised-button color="primary">
                Stats
        </a>
    </mat-list-item>
    <mat-list-item>
        <a routerLink="/view-users"
                routerLinkActive="active"
                id="users-button" 
                mat-raised-button color="primary">
                Users
        </a>
    </mat-list-item> 
    <mat-list-item>
        <a routerLink="/view-decks"
            routerLinkActive="active"
            id="decks-button"
            mat-raised-button color="primary">
            Decks
        </a>
    </mat-list-item>
    </mat-nav-list>
</mat-toolbar>


