#navigation-container {
    height: 10vh;
    width: 100vw;
}

#app-features {
    list-style-type: none;
    display: flex;
}

#play-button {
    background-color: darkblue;
}

#stats-button {
    background-color: red;
}

#users-button {
    background-color: green;
}

#app-header {
    text-decoration: none;
    color: white;
}

#app-title {
    font-size: 1.2em;
}

#title-decorator {
    font-size: 0.8em;
}

mat-list-item:focus {
    outline: none;
    border: 0;
}

mat-list-item:hover {
    outline: none;
    border: 0;
}