#navigation-container {
    height: 20vh;
    width: 100vw;
}

#app-features {
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 25px;
    height: 15vh;
    height: 100%;
}

#play-button {
    background-color: darkblue;
}

#stats-button {
    background-color: red;
}

#users-button {
    background-color: green;
}

#app-header {
    text-decoration: none;
    color: white;
}

#app-title {
    font-size: 1.2em;
}

#title-decorator {
    font-size: 0.8em;
}

mat-list-item:focus {
    outline: none;
    border: 0;
}

mat-list-item:hover {
    outline: none;
    border: 0;
}