#navigation-container {
    width: 100%;
    width: 100vw;
}

#app-features {
    list-style-type: none;
    display: flex;
}

#play-button {
    background-color: darkblue;
}

#stats-button {
    background-color: red;
}

#users-button {
    background-color: green;
}

@media (max-width: 680px)
{
    #app-header {
        display: none;
    }
}