#feature-box {
    width: 50%;
    min-height: 500px;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-features {
    list-style-type: none;
}

li a{
    font-size: 24px;
    height: 100px;
    width: 250px;
}

#play-button {
    background-color: darkblue;
}

#stats-button {
    background-color: red;
}

#users-button {
    background-color: green;
}