<div>
    <section class="dyk" id="dyk-container">
        <h2 class="dyk" id="dyk-header">Did you know?</h2>
        <p>On <em class="dyk" id="game-date">November 1st, 2020</em>, <em class="dyk" id="winning-player">Alec</em> used the <em class="dyk" id="winning-deck">Death and Taxes</em> deck and took down the mighty <em class="dyk" id="losing-player">Alison</em>
        and their <em class="dyk" id="losing-deck">Vizier</em> deck. The final score was <em class="dyk" id="winning-score">5</em> to <em class="dyk" id="losing-score">0</em></p>
    </section>
    <section class="recent-stats" id="recent-stats-container">
        <h2 class="recent-stats" id="recent-stats-header">Recent Games</h2>
        <ul class="recent-stats" id="recent-games-list">
            
        </ul>
    </section>
</div>