<section>
<div id="feature-box">
    <mat-list id="app-features">
        <mat-list-item>
           <a routerLink="/game-setup" 
                routerLinkActive="active"
                id="play-button" 
                mat-raised-button color="primary">
                Play
            </a>
        </mat-list-item>
       <mat-list-item>
           <a routerLink="/view-stats"
                routerLinkActive="active"
                id="stats-button" 
                mat-raised-button color="primary">
                Stats
            </a>
        </mat-list-item>
       <mat-list-item>
           <a routerLink="/view-users"
                routerLinkActive="active"
                id="users-button" 
                mat-raised-button color="primary">
                Users
            </a>
        </mat-list-item> 
        <router-outlet></router-outlet>
    </mat-list>
</div>
</section>