<div>
    <div id="card-highlight-container">
        <h2 id="card-highlight-header">Card Highlight - Paladin of Atonement</h2>
        <img id="card-picture" src="assets/paladin-of-atonement.jpg" alt="Picture of Paladin of Atonement"/>
        <p id="card-type">
            Creature — Vampire Knight
        </p>
        <p id="card-description">
            At the beginning of each upkeep, if you lost life last turn, put a +1/+1 counter on Paladin of Atonement.
            When Paladin of Atonement dies, you gain life equal to its toughness.
        </p>
        <p id="card-flavor-text">
            For every wound there is a blessing; for every death, a reckoning.
        </p>
    </div>
    <mat-divider></mat-divider>
    <section class="recent-stats" id="recent-stats-container">
        <h2 class="recent-stats" id="recent-stats-header">Recent Games</h2>
        <ul class="recent-stats" id="recent-games-list"></ul>
    </section>
</div>