#feature-box {
    width: 50%;
    min-height: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-features {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-list-item {
    margin-top: 50px;
    margin-bottom: 50px;
}

mat-divider {
    border-top-width: 2px;
    border-top-style: dashed;
}

mat-list-item a{
    font-size: 24px;
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 250px;
}

#play-button {
    background-color: darkblue;
}

#stats-button {
    background-color: red;
}

#users-button {
    background-color: green;
}