h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    margin-top: 5%;
    padding-bottom: 5px;
    border-bottom: 0.1em solid black;
    font-size: 2.5em;
    width: 75%;
    height: 10%;
}